@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  background: url('./img/background.jpg');
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Indie Flower', cursive;
  padding-top: 10px;
  margin-bottom: 0px;
}
